package views

import "go-fiber/home/views/layout"


templ Main() {
    <main>
    @layout.Layout(layout.LayoutProps{
        Title: "Главная",
        MetaDescription: "Главная страница сайта новостей",
    }){
        @layout.Header()
        @layout.ContentLayout(){
        }
    }
    </main>
}