package views

import "go-fiber/home/views/layout"
import "go-fiber/home/views/widgets"


templ Register() {
    @layout.Layout(layout.LayoutProps{
        Title: "Главная",
        MetaDescription: "Главная страница сайта новостей",
    }){
        @layout.Header()
        @widgets.RegisterForm(){

        }
    }
}