:root {
    --text-color-dark: #3E3232;
    --sub-text-color-dark: #0000;
    --sub-text-copacity-dark: 0.75;
    --header-height: 100px;
}

body {
    background-color: #fff;
    font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}