
/* top-tags */
.top-tags {
    /* top-tags */

    position: absolute;
    width: 1512px;
    height: 68px;
    left: 204px;
    top: 138px;


}

.block-tags {
    /* tags */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 1334px;
    height: 48px;
    left: 10px;
    top: 10px;
}

.tag {
    /* Hashtag
    Profile avatar 
    -- 
    To use an image, hide the Initial layer and insert an image fill into the Background
    */
    width: 170px;
    height: 48px;

    border-radius: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

    /* #food */
.tag-text {
    position: absolute;
    width: 38px;
    height: 19px;
    left: 66px;
    top: 14px;

    /* H5 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;

    /* White */
    color: #FFFFFF;

    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.tag-icon {
    /* img/food/01 */
    position: absolute;
    width: 170px;
    height: 48px;
    left: 0px;
    top: 0px;

    filter: blur(2.5px);
}